*.iml

/AudioEncryptor/.gradle
/AudioEncryptor/local.properties
/AudioEncryptor/.idea/caches
/AudioEncryptor/.idea/libraries
/AudioEncryptor/.idea/modules.xml
/AudioEncryptor/.idea/workspace.xml
/AudioEncryptor/.idea/navEditor.xml
/AudioEncryptor/.idea/assetWizardSettings.xml
/AudioEncryptor/.DS_Store
/AudioEncryptor/build
/AudioEncryptor/captures
/AudioEncryptor/.externalNativeBuild
/AudioEncryptor/.cxx

/Audioprotector/.gradle
/Audioprotector/local.properties
/Audioprotector/.idea/caches
/Audioprotector/.idea/libraries
/Audioprotector/.idea/modules.xml
/Audioprotector/.idea/workspace.xml
/Audioprotector/.idea/navEditor.xml
/Audioprotector/.idea/assetWizardSettings.xml
/Audioprotector/.DS_Store
/Audioprotector/build
/Audioprotector/captures
/Audioprotector/.externalNativeBuild
/Audioprotector/.cxx

/RecorderApp/.gradle
/RecorderApp/local.properties
/RecorderApp/.idea/caches
/RecorderApp/.idea/libraries
/RecorderApp/.idea/modules.xml
/RecorderApp/.idea/workspace.xml
/RecorderApp/.idea/navEditor.xml
/RecorderApp/.idea/assetWizardSettings.xml
/RecorderApp/.DS_Store
/RecorderApp/build
/RecorderApp/captures
/RecorderApp/.externalNativeBuild
/RecorderApp/.cxx
